SO, IN THIS MODEL I HAD WORKED ON THE DATA PRE-PROCESSING IN WHICH I HAD CLEANED THIS DATA VERY PROFESSIONALLY. AS, I USED FILLNA() AND DROPNA() FUCTIONS FOR FILTERATION OF THE DATA. BUT MOSTLY I USED FILLNA() FUCTION WITH THE HELP OF MEAN TO FILL THE VALUE ONLY I USED DROPNA() FUCTION WHERE I THINK MORE THAN 70% OF THE DATA IS MISSING. NOW, THE DATA IS FILTERED. THE DATA IS FILTERD FROM THE NOT A NUMBER (NAN) APART FROM THAT I ALSO FILTERD THE NOISE AND RECOGNIZED AND REMOVING THE OUTLINERS AND YES, ALSO REMOVED AND THE FILLED THE MISSING VALUES AS I EXPLAINED EARLIER.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
import re
import datetime
from imblearn.under_sampling import RandomUnderSampler
from sklearn.decomposition import PCA
from sklearn.utils import resample

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.svm import SVC
from sklearn.decomposition import FactorAnalysis

In [3]:
data = pd.read_csv("/content/labeled_loan_data.csv",low_memory = False)

In [4]:
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [5]:
data.shape

(266457, 28)

In [6]:
data.columns

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'LoanPurpose',
       'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266457 entries, 0 to 266456
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         266457 non-null  int64
 1   FirstPaymentDate    266457 non-null  int64
 2   FirstTimeHomebuyer  266457 non-null  object
 3   MaturityDate        266457 non-null  int64
 4   MSA                 266457 non-null  object
 5   MIP                 266457 non-null  int64
 6   Units               266457 non-null  int64
 7   Occupancy           266457 non-null  object
 8   OCLTV               266457 non-null  int64
 9   DTI                 266457 non-null  int64
 10  OrigUPB             266457 non-null  int64
 11  LTV                 266457 non-null  int64
 12  OrigInterestRate    266457 non-null  float64
 13  Channel             266457 non-null  object
 14  PPM                 266457 non-null  object
 15  ProductType         266457 non-null  object
 16  PropertyState       266457 non-null  object
 17  PropertyType        266457 non-null  object
 18  PostalCode          266457 non-null  object
 19  LoanSeqNum          266457 non-null  object
 20  LoanPurpose         266457 non-null  object
 21  OrigLoanTerm        266457 non-null  int64
 22  NumBorrowers        266457 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        266457 non-null  object
 25  EverDelinquent      266457 non-null  int64
 26  MonthsDelinquent    266457 non-null  int64
 27  MonthsInRepayment   266457 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 56.9+ MB

In [8]:
data.describe(include='all')

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
count,266457.000000,266457.000000,266457,266457.000000,266457,266457.000000,266457.000000,266457,266457.000000,266457.000000,...,266457,266457,266457,266457.000000,266457,266457,266457,266457.000000,266457.000000,266457.000000
unique,NaN,NaN,3,NaN,392,NaN,NaN,3,NaN,NaN,...,890,266457,3,NaN,3,20,20,NaN,NaN,NaN
top,NaN,NaN,N,NaN,X,NaN,NaN,O,NaN,NaN,...,94500,F199Q1268030,P,NaN,2,Ot,Other servicers,NaN,NaN,NaN
freq,NaN,NaN,171929,NaN,36460,NaN,NaN,252566,NaN,NaN,...,3579,1,111720,NaN,172032,76943,62176,NaN,NaN,NaN
mean,708.915097,199904.784701,NaN,202902.327216,NaN,9.121085,1.025907,NaN,76.883970,30.038708,...,NaN,NaN,NaN,359.826565,NaN,NaN,NaN,0.198212,1.831083,60.637994
std,68.301151,14.323051,NaN,16.416401,NaN,12.619794,0.202276,NaN,15.192873,13.338958,...,NaN,NaN,NaN,2.354774,NaN,NaN,NaN,0.398654,8.760016,45.773241
min,0.000000,199901.000000,NaN,202402.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,...,NaN,NaN,NaN,301.000000,NaN,NaN,NaN,0.000000,0.000000,1.000000
25%,675.000000,199903.000000,NaN,202902.000000,NaN,0.000000,1.000000,NaN,70.000000,22.000000,...,NaN,NaN,NaN,360.000000,NaN,NaN,NaN,0.000000,0.000000,35.000000
50%,717.000000,199904.000000,NaN,202903.000000,NaN,0.000000,1.000000,NaN,80.000000,31.000000,...,NaN,NaN,NaN,360.000000,NaN,NaN,NaN,0.000000,0.000000,48.000000
75%,753.000000,199905.000000,NaN,202904.000000,NaN,25.000000,1.000000,NaN,90.000000,39.000000,...,NaN,NaN,NaN,360.000000,NaN,NaN,NaN,0.000000,0.000000,63.000000
max,849.000000,201303.000000,NaN,204302.000000,NaN,55.000000,4.000000,NaN,110.000000,65.000000,...,NaN,NaN,NaN,361.000000,NaN,NaN,NaN,1.000000,180.000000,212.000000

In [9]:
data.isnull().any()

CreditScore           False
FirstPaymentDate      False
FirstTimeHomebuyer    False
MaturityDate          False
MSA                   False
MIP                   False
Units                 False
Occupancy             False
OCLTV                 False
DTI                   False
OrigUPB               False
LTV                   False
OrigInterestRate      False
Channel               False
PPM                   False
ProductType           False
PropertyState         False
PropertyType          False
PostalCode            False
LoanSeqNum            False
LoanPurpose           False
OrigLoanTerm          False
NumBorrowers          False
SellerName            False
ServicerName          False
EverDelinquent        False
MonthsDelinquent      False
MonthsInRepayment     False
dtype: bool

In [10]:
data.isnull().sum()

CreditScore           0
FirstPaymentDate      0
FirstTimeHomebuyer    0
MaturityDate          0
MSA                   0
MIP                   0
Units                 0
Occupancy             0
OCLTV                 0
DTI                   0
OrigUPB               0
LTV                   0
OrigInterestRate      0
Channel               0
PPM                   0
ProductType           0
PropertyState         0
PropertyType          0
PostalCode            0
LoanSeqNum            0
LoanPurpose           0
OrigLoanTerm          0
NumBorrowers          0
SellerName            0
ServicerName          0
EverDelinquent        0
MonthsDelinquent      0
MonthsInRepayment     0
dtype: int64

In [11]:
# Replacing the nan user names with unknown user
data["SellerName"]=data["SellerName"].fillna("Unknown User")

In [12]:
data.isnull().sum()

CreditScore           0
FirstPaymentDate      0
FirstTimeHomebuyer    0
MaturityDate          0
MSA                   0
MIP                   0
Units                 0
Occupancy             0
OCLTV                 0
DTI                   0
OrigUPB               0
LTV                   0
OrigInterestRate      0
Channel               0
PPM                   0
ProductType           0
PropertyState         0
PropertyType          0
PostalCode            0
LoanSeqNum            0
LoanPurpose           0
OrigLoanTerm          0
NumBorrowers          0
SellerName            0
ServicerName          0
EverDelinquent        0
MonthsDelinquent      0
MonthsInRepayment     0
dtype: int64

In [13]:
data.drop_duplicates(inplace = True)

In [14]:
data.shape

(266457, 28)

In [15]:
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [16]:
data.dtypes

CreditScore             int64
FirstPaymentDate        int64
FirstTimeHomebuyer     object
MaturityDate            int64
MSA                    object
MIP                     int64
Units                   int64
Occupancy              object
OCLTV                   int64
DTI                     int64
OrigUPB                 int64
LTV                     int64
OrigInterestRate      float64
Channel                object
PPM                    object
ProductType            object
PropertyState          object
PropertyType           object
PostalCode             object
LoanSeqNum             object
LoanPurpose            object
OrigLoanTerm            int64
NumBorrowers           object
SellerName             object
ServicerName           object
EverDelinquent          int64
MonthsDelinquent        int64
MonthsInRepayment       int64
dtype: object

In [17]:
# Data type conversion
data["FirstPaymentDate"]=pd.to_datetime(data["FirstPaymentDate"], format="%Y%m").dt.to_period("M")
data["MaturityDate"]=pd.to_datetime(data["MaturityDate"], format="%Y%m").dt.to_period("M")

In [18]:
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,1999-02,N,2029-01,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,1999-02,N,2029-01,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,1999-02,N,2029-01,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,1999-02,N,2029-01,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,1999-02,N,2029-01,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [19]:
data["OrigInterestRate"].unique()

array([ 6.75 ,  6.5  ,  6.875,  7.125,  7.   ,  7.25 ,  6.625,  7.75 ,
        7.2  ,  7.5  ,  6.25 ,  7.625,  7.15 ,  7.375,  6.375,  8.75 ,
        7.1  ,  8.5  ,  7.875,  7.05 ,  6.95 ,  8.   ,  6.   ,  8.125,
        8.625,  8.375,  6.125,  5.75 ,  5.875,  7.18 ,  5.125,  8.25 ,
        5.25 ,  8.99 ,  5.625,  9.   ,  9.375,  5.   ,  9.125,  6.99 ,
        5.375,  8.365,  8.875,  8.825,  6.975,  7.3  ,  7.313,  9.625,
        9.5  ,  9.25 ,  7.85 ,  8.695,  4.875,  7.775,  7.29 ,  7.405,
        9.75 ,  7.13 ,  5.99 ,  6.999,  7.055,  7.09 ,  6.785,  7.08 ,
        7.025,  7.7  ,  7.58 , 10.5  ,  7.55 ,  7.445,  9.875,  6.9  ,
        6.85 ,  6.925,  8.37 ,  7.095,  7.19 ,  8.85 ,  7.456,  7.675,
        9.675,  7.475,  8.04 ,  7.4  ,  7.22 ,  7.17 ,  8.7  ,  7.301,
        8.9  , 10.   ,  5.5  ,  6.62 ,  6.7  ,  7.325, 10.375,  4.75 ,
        6.6  ,  7.8  ,  7.333, 10.85 ,  7.185,  7.99 ,  7.245, 11.5  ,
        6.94 ,  6.87 ,  7.65 ,  7.312,  7.28 ,  7.39 ,  7.07 ,  6.55 ,
        9.95 ,  7.43 ,  7.48 ,  6.88 ,  8.45 ,  6.825,  6.895,  6.3  ,
        7.49 ,  6.8  ,  6.63 ,  8.05 ,  7.275,  7.175,  7.225,  7.075,
        8.8  ,  7.33 ,  7.35 ,  7.23 ,  6.65 ,  7.91 ,  7.575,  7.425,
        7.03 ,  7.31 , 10.625,  6.45 ,  7.14 ,  7.12 ,  7.24 ,  7.013,
        9.7  ,  6.4  ,  6.49 ,  6.97 ,  7.355,  7.878,  8.27 ,  7.38 ,
        7.45 ,  7.105,  9.35 , 10.75 ,  7.365,  6.871,  5.96 ,  8.3  ,
        7.36 ,  9.975,  7.37 ,  7.32 , 11.125,  8.07 ,  6.1  ,  6.883,
        7.95 ,  7.6  ,  7.54 , 11.1  ,  6.955,  9.99 ,  6.995,  7.023,
        5.89 ,  6.35 ,  8.32 ,  8.315,  7.62 ,  7.188,  7.26 ,  8.14 ,
        7.072,  7.106,  7.066,  6.225,  7.016,  6.52 ,  7.255,  6.715,
        7.04 ,  6.545,  6.93 ,  7.056,  6.69 ,  8.1  ,  8.485, 12.35 ,
        7.06 ,  6.2  ,  7.085,  7.495,  7.158,  6.33 ,  8.13 ,  8.18 ,
        7.66 ,  6.602,  7.293,  7.371,  6.98 ,  8.06 ,  6.92 ,  5.49 ,
        6.626,  6.685,  6.51 ,  8.67 ,  6.813,  7.257,  7.165,  8.31 ,
        8.255,  7.825,  7.395,  7.624,  7.195,  7.265,  6.935,  6.965,
        4.   ,  6.54 ,  6.948,  7.64 ,  7.02 ,  6.74 ,  6.96 ,  6.957,
        7.063,  7.415,  7.21 ,  6.15 ,  6.79 ,  7.399,  7.47 ,  7.059,
        7.305,  7.925,  7.93 ,  7.154,  6.09 ,  5.8  ])

In [20]:
data["OrigInterestRate"].between(0, 25).any()

True

In [21]:
((data["OrigInterestRate"] < 0) | (data["OrigInterestRate"] > 25)).any()

False

In [22]:
data["OrigInterestRate"].describe()

count    266457.000000
mean          6.928868
std           0.346160
min           4.000000
25%           6.750000
50%           6.875000
75%           7.125000
max          12.350000
Name: OrigInterestRate, dtype: float64

In [23]:
data["LoanPurpose"].unique()

array(['P', 'N', 'C'], dtype=object)

In [24]:
(data["LoanPurpose"]=="P").sum()
# Total 123404 of Purchase Loans

111720

In [25]:
data["Channel"].unique()

array(['T', 'R', 'C', 'B'], dtype=object)